.side_bar
  .user
    .user__name
      = current_user.name
    .user__config
      config
    .user__signout
      signout
  .personal-event
    .new-event
      = link_to new_group_path do
        新規の予定を作成する
    - @groups.each do |group|
      .event
        .event__name
          = group.name
        .event__date
          = group.event_date
