.side_bar
  .user
    .user__name
      test
      -# current_user.name ログインユーザの表示
    .user__config
      config
    .user__signout
      signout
  .personal-event
    .new-event
      = link_to new_group_path do
        新規の予定を作成する
    .event
      .event__name
        test
      .event__date
        20xx
    .event
      .event__name
        test
      .event__date
        20xx